.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail {
	bottom: 0;
	height: 8px;
}

.ps-container .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail {
	right: 0;
	width: 8px;
}

.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y {
	background-color: #0052CC;
	cursor:pointer;
}

.ps-container .ps-scrollbar-y,
.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y-rail,
.ps-container .ps-scrollbar-x-rail{ position:absolute }

.ps-container.ie6 .ps-scrollbar-y,
.ps-container.ie6 .ps-scrollbar-x { font-size: 0 }

.ps-container .ps-scrollbar-y-rail,
.ps-container .ps-scrollbar-x-rail,
.ps-container .ps-scrollbar-y-rail.in-scrolling,
.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover,
.ps-container .ps-scrollbar-x-rail.in-scrolling,
.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover { background:transparent }

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y { visibility: hidden }

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y { visibility: visible }
