@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	font-family: 'Open Sans', sans-serif
}
html, body, #paint{
	margin:0;
	padding:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	float:left;
	position:fixed;
	overflow:hidden;
/*	visibility:hidden;*/
}
#paint{z-index:999999}
/*płótno*/
#content{
	float:left;
	background:#373636;
	overflow:hidden;
	position:absolute;
}
#draw, #drawHandler, #eventHandler{
	width:600px;
	height:400px;
	overflow:hidden;
	position:relative;
	cursor:crosshair;
}
#eventHandler{z-index:3;position:absolute}
#drawHandler{border:1px dotted #0052CC}
canvas{position:absolute;cursor:crosshair;}
canvas.invisible{visibility: hidden}
input#fileUploaderInput{
	display: none;
}
#resizer{
	width:300px;
	height:210px;
	position:absolute;
	top:0;
	left:0;
	background:#2C2B2B;
	display:none;
	z-index:4;
	cursor:move;
}
#resizer input[type=number]{
	width:250px;
	height:30px;
	margin:10px 25px;
	box-sizing:border-box;
	border:none;
	cursor:text;
	text-align:center;
	float:left;
}
#resizeinfo{
	width:250px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#ccc;
	cursor:move;
	float:left;
	margin:0px 25px;
}
.buttonAction{
	float:left;
	width:120px;
	height:30px;
	line-height:30px;
	font-size:15px;
	margin:10px 15px;
	text-align:center;
	background:#ccc;
	cursor:pointer;
}
.buttonAction:hover{background:#0052CC;color:#ccc}
#eraseRect, #prepareRect, #prepareCircle, #selectRectangle, #textRectangle{
	display:none;
	position:absolute;
	z-index:2;
	border:1px solid #000;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#textRectangle{font-size: 8mm}
#selectRectangle, #textRectangle{cursor: move}
#eraseRect{background:rgba(255,255,255,0.3)}
/*Narzedzia*/
#shadowColor, #fillColor, #shadow_slider, #shadow_offsetY_slider, #shadow_offsetX_slider, #sensitivityPoints_slider, #fillOpacity_slider, #fillShapeInput{display:none}
#toolsGroup, #layers{
		width:200px;
		position:absolute;
		float:left;
		z-index:4;
}
#layers{right: 0}
.layerView{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px 50px;
	background: transparent;
	border:1px solid #ccc;
	text-align: center;
	box-sizing: border-box;
	text-align: center;
}
.layerView:hover{border-color: #0052cc}
.layerView.active{border-color: #0021cc}

img.imgLayer{
	float: none;
	max-width: 98px;
	max-height: 98px;
	border: none;
	margin: auto;
	display: none;
}
.hideLayer, .showLayer{
	position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px !important;
    text-align: center;
    cursor: pointer;
	right: -30px;
	top: 20px
}
.hideLayer:hover, .showLayer{
	color: #C50000;
}
.showLayer:hover, .hideLayer{
	color: #16c600;
}
.tools, #layersBtns, #listLayers{
	width:200px;
	background:#2C2B2B;
	float:left;
	z-index:4;
	color:#666;
}
.tools .title, #layers .title{
	width:100%;
	height:20px;
	line-height:20px;
	float:left;
	font-size:15px;
	text-align:center;
	background:#eee;
	color:#2E3436;
}
#listLayers{
	max-height: calc(100vh - 70px);
	position: absolute;
	overflow: hidden;
	top: 50px;
}
.title.draghandler{cursor:move}
.tools .title:hover{color:#0052CC}
.tools .title .fa{
	position:relative;
	height:inherit;
	line-height:inherit;
	left:0;
	top:0;
	text-align:center;
}
.tools .toggleVisibility{
	position:relative;
	top:0;
	margin:0;
	width:30px;
	text-align:center;
	color:#000;
	height:inherit;
	line-height:inherit;
}
.tools .toggleVisibility:hover .fa{ color:#0052CC }
.tools .toggleVisibility .fa, .tools .toggleVisibility{ cursor:pointer !important}
#generalColor .color{ background:#000 }
#shadowColor .color{ background:#232324 }
#fillColor .color{ background:#fff }
.colorTab{
	width:200px;
	height:25px;
	line-height:25px;
	font-size:14px;
	cursor:pointer;
}
.colorTab:hover{ color:#0052CC;background:#1C1B1B }
.color{
	border-radius:100%;
	width:15px;
	height:15px;
	margin:5px 10px;
	float:left;
	border:1px solid #ccc;
	box-sizing:border-box
}
#textOptions{
	width:200px;
	height:100px;
	position:absolute;
	top:0;
	left:0;
	background:#2C2B2B;
	display:none;
	z-index:4;
	cursor:move;
}
#previewColorSampler{
	position: absolute;
	width: 200px;
	height: 60px;
	background: 0 30px url('../pic/transparent.png');
	top: 0;
	left: 200px;
	z-index: 1;
	display: none;
}
#textColorSampler{
	width: 100%;
	float: left;
	height: 30px;
	background: #2C2B2B;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	color: #eee;
}
#colorBoxSampler{
	width: 100%;
	height: 30px;
	float: left;
}
#shadowInput, #fillShapeInput{
	width:200px;
	height:20px;
	line-height:20px;
	float:left;
	padding:5px 0px;
	font-size:12px;
}
#shadowInput *, #fillShapeInput *{
	cursor:pointer;
	margin:0px;
	float:left;
	padding:0px;
}
input[type=color]{
	visibility:hidden;
	width:0px;
	height:0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
}
#toolsBtns, #radioBtns, #alignBtns, #fontStyleBtns, #colorPicker, #sliders{
	width:100%;
	float:left;
	margin:0px;
}

.primaryTool .fa, .paintTools .fa, .textPostionTool .fa, .styleTool .fa, .layerTool .fa{
	font-size:15px;
}
.primaryTool, .paintTools, .textPostionTool, .styleTool, .layerTool{
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left;
	color:#666;
	cursor:pointer;
}
.textPostionTool:hover, .textPostionTool.active, .styleTool:hover, .styleTool.active, .primaryTool:hover, .paintTool:hover ,.paintTool.active, .layerTool:hover{color:#ffffff}
.paintTool.active, .primaryTool:active{cursor:default;color:#0052CC;background:#1C1B1B}
.sliderContainer{
	width:200px;
	height:45px;
	margin:0px;
	float:left
}
.sliderVal{
	width:200px;
	height:20px;
	margin-top:5px;
	line-height:20px;
	word-wrap:break-word;
	font-size:13px;
	float:left;
	text-align:center;
}
#hint{
	width: 100vw;
	height: 50px;
	position: absolute;
	bottom: 20px;
	left: 0;
	background: #2C2B2B;
	display: block;
	display: none;
}
.hintGroup{
	width: 100%;
	height: 100%;
	float: left;
	display: none;
}
.keyboardButton{
	float: left;
	padding: 0 5px;
	min-width: 30px;
	height: 20px;
	background: #F1F1F1;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 15px 5px;
	color: #2C2B2B;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
.describeHint{
	width: auto;
	float: left;
	height: 50px;
	line-height: 50px;
	margin: 0 5px 0 0;
	color: #F1F1E4;
	font-size: 12px;
}
input[type=checkbox] + label .fa-circle-o,input[type=checkbox] + label .fa-dot-circle-o{
	float:left;
	text-align:center;
	width:30px;
	vertical-align: middle;
	margin:0px 0px 0px 10px;
	font-size:18px;
	height:20px;
	line-height:20px
}
input[type=checkbox] + label #l{margin-left:10px;height:20px;line-height:20px;}
input[type=checkbox]:hover + label{color:#fff}
input[type=checkbox]:checked + label{color:#0052CC;font-weight:bold}
input[type=checkbox] + label .fa-dot-circle-o{display:none}
input[type=checkbox] + label .fa-circle-o{display:block}
input[type=checkbox]:checked + label .fa-circle-o, input[type=checkbox]:hover + label .fa-circle-o{display:none}
input[type=checkbox]:checked + label .fa-dot-circle-o, input[type=checkbox]:hover + label .fa-dot-circle-o{display:block}
input[type=checkbox] + label{
	cursor: pointer;
	color:#666;
	width:200px;
	height:20px;
	background:transparent;
	text-align:left;
	border:none;
	border-radius:0px;
}
input[type=range] {
	-webkit-appearance: none;
	width: 180px;
	margin:0 10px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 180px;
	height: 10px;
	background: #ddd;
	border: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 10px;
	width: 10px;
	border-radius:10px;
	background: #0052CC;
}
input[type=range]::-moz-range-track {
	width: 180px;
	height: 10px;
	background: #ddd;
	border: none;
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 10px;
	width: 10px;
	border-radius:10px;
	background: #0052CC;
}
input[type=range]::-ms-track {
	width: 180px;
	height: 10px;
	background: transparent;
	border-color: transparent;
	border-width: 0;
	color: transparent;
}
input[type=range]::-ms-thumb {
	border: none;
	height: 10px;
	width: 10px;
	border-radius:10px;
	background: #0052CC;
}
input[type=range]:focus { outline: none }
input[type=range]:-moz-focusring{ outline: none }
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper { background: #ddd }
input[type=range]:focus::-ms-fill-lower { background: #888 }
input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:focus::-ms-fill-upper { background: #ccc }
/*Pasek stanu*/
#statusbar{
	width:100%;
	background:#2C2B2B;
	height:20px;
	line-height:20px;
	float:left;
	position:absolute;
	bottom:0;
	font-size:13px;
	color:#ccc;
}
#statusbar a{
	color:#eee;
	cursor: pointer;
}
#mousePosition, #layerSize{
	float:left;
	width:100px;
	height:inherit;
	line-height:inherit;
	text-align:center;
}
#author{
	height:inherit;
	line-height:inherit;
	float:right;
	right:0;
	margin-right:20px;
}
