@import 'variables';

#camera{
    width: 640px;
    max-width: 100vw;
    height: 560px;
    max-height: 100vh;
    background: @dark3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 99;
    display: none;
    &.opened{
        display: block;
    }
    #cameraHeader{
        width: 100%;
        height: 30px;
        #cameraTitle{
            width: ~"calc(100% - 30px)";
            float: left;
            height: 30px;
            line-height: 30px;
            padding: 0px 5px;
            color: @white1;
        }
        #closeCamera{
            width: 30px;
            height: 30px;
            border: none;
            display: inline-block;
            background: @red1;
            color: @white1;
            cursor: pointer;
            float: right;
            i{
                cursor: pointer;
            }
        }
    }
    canvas#snapImage{
        display: none;
    }
    #cameraButtons{
        height: 50px;
        line-height: 50px;
        button{
            min-width: 50px;
            border: none;
            display: none;
            cursor: pointer;
            *{
                cursor: pointer;
            }
            &#snap{
                display: inline-block;
            }
            &#applySnap{
                background: @green2;
                color: @white1;
            }
            &#cancelSnap{
                background: @red1;
                color: @white1;
            }
            &#saveSnapOnComputer{
                background: @blue1;
                color: @white1;
            }
        }
    }
    &.snapped{
        video#video{
            display: none;
        }
        canvas#snapImage{
            display: block;
        }
        #cameraButtons{
            button{
                display: inline-block;
                &#snap{
                    display: none;
                }
            }
        }
    }
}