@import "variables.css";

menu#contextmenu {
  display: none;
  width: 230px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  z-index: 10;
}

menu#contextmenu ul li {
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 30px;
  position: relative;
  width: 100%;
  background: #fff;
  color: var(--black1);
}

menu#contextmenu ul li * {
  cursor: pointer;
}

menu#contextmenu ul li .content {
  width: 100%;
  float: left;
}

menu#contextmenu ul li .content span {
  height: inherit;
  float: left;
}

menu#contextmenu ul li .content span.icon {
  width: 20px;
}

menu#contextmenu ul li .content span.icon i {
  float: left;
  width: 20px;
  height: 30px;
  line-height: 30px;
}

menu#contextmenu ul li .content span.text {
  width: calc(100% - 130px);
}

menu#contextmenu ul li .content span.shortcut {
  text-align: right;
  text-transform: uppercase;
  width: 70px;
  font-size: 11px;
  color: var(--dark2);
}

menu#contextmenu ul li .content span.arrow {
  color: var(--dark2);
  width: 10px;
  margin: 0 5px;
  font-size: 11px;
  visibility: hidden;
  opacity: 0;
}

menu#contextmenu ul li .submenu {
  width: 230px;
  position: absolute;
  display: none;
  top: 0;
  left: 230px;
}

menu#contextmenu ul li .submenu + .content span.arrow.left-arrow {
  visibility: hidden;
  opacity: 0;
}

menu#contextmenu ul li .submenu + .content span.arrow.right-arrow {
  visibility: visible;
  opacity: 1;
  float: right;
}

menu#contextmenu ul li .disabled {
  color: var(--gray1);
}

menu#contextmenu ul li :not(.disabled):hover {
  color: var(--blue1);
  background-color: var(--white6);
}

menu#contextmenu ul li :not(.disabled):hover .submenu {
  display: block;
  color: var(--black1);
}

menu#contextmenu .left-submenu ul li .submenu {
  left: -230px;
}

menu#contextmenu .left-submenu ul li .submenu + .content span.arrow.left-arrow {
  visibility: visible;
  opacity: 1;
}

menu#contextmenu .left-submenu ul li .submenu + .content span.arrow.right-arrow {
  visibility: hidden;
  opacity: 0;
}
