@import "variables.css";

#statusbar {
  width: 100%;
  background: var(--dark3);
  height: 20px;
  line-height: 20px;
  float: left;
  position: absolute;
  bottom: 0;
  font-size: 13px;
  color: var(--gray3);
}

#statusbar #mousePosition {
  float: left;
  width: 100px;
  height: inherit;
  line-height: inherit;
  text-align: center;
}

#statusbar #author {
  height: inherit;
  line-height: inherit;
  float: right;
  right: 0;
  margin-right: 20px;
}

#statusbar #author a {
  color: var(--white2);
  cursor: pointer;
}