@import "variables.css";
@import "inputs.css";
@import "tools.css";
@import "text-options.css";
@import "layers.css";
@import "sliders.css";
@import "info.css";
@import "resizer.css";
@import "hints.css";
@import "shadow-changer.css";
@import "statusbar.css";
@import "camera.css";
@import "contextmenu.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#content {
  float: left;
  background: var(--bg_color);
  overflow: auto;
  width: calc(100vw - 200px);
  height: calc(100vh - 20px);
}

#drawHandler {
  border: 1px dotted var(--blue1);
  position: relative;
  overflow: hidden;
}

#draw, #drawHandler, #eventHandler {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
  /*cursor: crosshair;*/
}

#eventHandler {
  z-index: 3;
  position: absolute;
}

#draw canvas {
  position: absolute;
  cursor: crosshair;
  border: 1px dotted #0052CC;
}

#draw canvas.invisible {
  visibility: hidden;
}

#eraseRect,
#prepareRect,
#prepareCircle,
#selectRectangle {
  display: none;
  position: absolute;
  z-index: 2;
  border: 1px solid var(--black1);
}

#selectRectangle {
  cursor: move;
}

#eraseRect {
  border-radius: 100%;
  border-color: var(--gray3);
}
