/
/
variables
:root {
  --bg_color: #373636;


  --black1: #000000;

  --white1: #FFFFFF;
  --white2: #EEEEEE;
  --white3: #DDDDDD;
  --white4: #F1F1E4;
  --white5: #F1F1F1;
  --white6: #dedede;

  --dark1: #1C1B1B;
  --dark2: #2E3436;
  --dark3: #2C2B2B;

  --gray1: #888888;
  --gray2: #A9A9A9;
  --gray3: #CCCCCC;

  --blue1: #0052CC;
  --blue2: #0021CC;

  --red1: #C50000;
  --green1: #16c600;
  --green2: #129a01;

  --rgba1: rgba(0, 0, 0, 0.1);
  --rgba2: rgba(0, 0, 0, 0.3);
  --rgba3: rgba(0, 0, 0, 0.4);
}
